.model-mode-active{
    background-color:#f3f6f9!important; 
    border-bottom:solid 3px #272d35 !important;
    border-left: solid 1px #e0e2e9;
    border-right: solid 1px #e0e2e9;
    color: #181C32!important;
}

.model-mode{
    border-top:none;
    border-bottom:none;
    border-radius: 0px;
    background-color:#fff; 
    height:54px;
    cursor: pointer;
}
.model-mode-active .svg-icon svg g [fill]{
    fill: #272d35;
}
 .model-show{
    display: block;
    opacity: 1;
}
.model-active .list-item{
    background-color: #f0f3f7;
    border: solid 1px #e0e2e9;
    transition: none!important;
}